<nav class="bar bar--sm bg--dark" id="soc-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-1 hidden-xs hidden-sm">
        <div class="bar__module">
          <a href="/">
            <!-- <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png" />
            <img class="logo logo-light" alt="logo" src="/img/logo-light.png" /> -->
          </a>
        </div>
        <!--end module-->
      </div>
      <div class="col-lg-4">
        <div class="bar__module">
          <form action="/event/" method="GET">
            <input type="search" placeholder="search live streams" name="query" />
          </form>
        </div>
      </div>
      <!--end columns-->
      <div class="col-lg-4">
        <div class="bar__module">
          <ul class="menu-horizontal">
            <li class="">
              <a href="/">
                Home
              </a>
            </li>
            <li class="dropdown">
              <span class="dropdown__trigger">
                Events
              </span>
              <div class="dropdown__container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 dropdown__content dropdown__content--lg">
                      <div class="pos-absolute col-lg-5 imagebg hidden-sm hidden-xs" data-overlay="4">
                        <div class="background-image-holder">
                          <img alt="background" src="/img/dropdown-1.jpg" />
                        </div>
                        <div class="container pos-vertical-center pl-5">
                          <div class="row">
                            <div class="col-lg-8 bg--dark">
                              <!-- <img alt="Logo" src="/img/logo-light.png" class="image--xxs" /> -->
                              <!--<span class="h3 color--white">The Surface of Creativity</span>-->
                              <span class="h3 color--white">Discover live stream events
                                that match your interests.</span>
                            </div>
                          </div>
                          <!--end of row-->
                        </div>
                      </div>
                      <div class="row justify-content-end">
                        <div class="col-lg-6">
                          <div class="row">
                            <div class="col-lg-4">
                              <h5></h5>
                              <ul class="menu-vertical">

                                <li>
                                  <a href="/event">
                                    All
                                  </a>
                                </li>
                                <% navbarCategories.forEach(function(item){ %>
                                <li>
                                  <a href="/event/category/<%= item.name %>">
                                    <%= item.name %>
                                  </a>
                                </li>
                                <% }) %>

                              </ul>
                            </div>
                            <div class="col-lg-4">
                              <h5></h5>
                              <ul class="menu-vertical">
                                <% navbarSubCategories.forEach(function(item){ %>
                                <li>
                                  <a href="/event/category/<%= item.name %>">
                                    <%= item.name %>
                                  </a>
                                </li>
                                <% }) %>
                              </ul>
                            </div>
                          </div>
                          <!--end of row-->
                        </div>
                        <!--end of col-->
                      </div>
                      <!--end of row-->
                    </div>
                    <!--end dropdown content-->
                  </div>
                </div>
              </div>
              <!--end dropdown container-->
            </li>
            <% if(user && user.isAdmin){ %>
            <li class="dropdown">
              <span class="dropdown__trigger">
                Admin
              </span>
              <div class="dropdown__container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 dropdown__content dropdown__content--lg">
                      <div class="pos-absolute col-lg-5 imagebg hidden-sm hidden-xs" data-overlay="4">
                        <div class="background-image-holder">
                          <img alt="background" src="/img/dropdown-1.jpg" />
                        </div>
                        <div class="container pos-vertical-center pl-5">
                          <div class="row">
                            <div class="col-lg-8 bg--dark">
                              <!-- <img alt="Logo" src="/img/logo-light.png" class="image--xxs" /> -->
                              <!--<span class="h3 color--white">The Surface of Creativity</span>-->
                              <span class="h3 color--white">Discover live stream events
                                that match your interests.</span>
                            </div>
                          </div>
                          <!--end of row-->
                        </div>
                      </div>
                      <div class="row justify-content-end">
                        <div class="col-lg-6">
                          <div class="row">
                            <div class="col-lg-4">
                              <ul class="menu-vertical">
                                <li>
                                  <a href="/admin/events">
                                    Events
                                  </a>
                                </li>
                                <li>
                                  <a href="/admin/categories">
                                    Categories
                                  </a>
                                </li>
                                <li>
                                  <a href="/admin/sub-categories">
                                    Sub Categories
                                  </a>
                                </li>
                                <li>
                                  <a href="/admin/users">
                                    Users
                                  </a>
                                </li>

                              </ul>
                            </div>
                          </div>
                          <!--end of row-->
                        </div>
                        <!--end of col-->
                      </div>
                      <!--end of row-->
                    </div>
                    <!--end dropdown content-->
                  </div>
                </div>
              </div>
              <!--end dropdown container-->
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <!--end columns-->
      <div class="col-lg-3 text-right text-left-xs">
        <div class="bar__module">
          <%if(!user){%>
          <a class="btn btn--sm type--uppercase" href="/login">
            <span class="btn__text">
              Log In
            </span>
          </a>
          <a class="btn btn--primary btn--sm type--uppercase" href="/register">
            <span class="btn__text">
              Register
            </span>
          </a>
          <%}else{%>
          <span class="pr-3">Hey <strong><%= user.first_name %></strong>! </span>
          <a class="btn btn--sm type--uppercase" href="/login/logout">
            <span class="btn__text">
              Log out
            </span>
          </a>
          <%}%>
        </div>
        <!--end module-->
      </div>
      <!--end columns-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</nav>