<%- include ('./partials/_header.ejs') %>

<div class="main-container bg--dark">
  <section class="feature-large switchable bg--dark unpad">
    <div class="container">
      <h4>The Surface of Creativity</h4>
      <ol class="breadcrumbs">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Music</a>
        </li>
      </ol>
      <% events.forEach(function(event){ %>
      <hr />

      <div class="row justify-content-around">
        <div class="col-lg-6 col-md-6">
          <img alt="Image" class="border--round box-shadow-wide" src="<%= event.image %>" />
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="col-md-12">
            <h1><Strong><%= event.title %></Strong></h1>
          </div>

          <div class="heading-block">
            <h2><%= event.location %></h2>
            <h3><%= event.date + ' ' +  event.time %></h3>
            <a class="btn btn--primary type--uppercase"
              href="<%= event.link.indexOf('http') > -1 ? event.link : `http://${event.link}` %>">
              <span class="btn__text">
                Watch Live Stream
              </span>
            </a>
            <br><br>
            <a class="btn btn-outline-secondary type--uppercase" href="/event/<%=   `${event._id}` %>">
              <span class="btn__text">
                Details
              </span>
            </a>
            <a class="btn btn-outline-secondary type--uppercase" href="/event/edit/<%=   `${event._id}` %>">
              <span class="btn__text">
                Edit
              </span>
            </a>
          </div>
          <div class="text-block">
            <p></p>
          </div>
        </div>
      </div>
      <!--end of row-->

      <% }) %>
    </div>
    <!--end of container-->
  </section>


  <%- include ('./sections/_category-blocks.ejs') %>
  <%- include ('./sections/_staff-picks.ejs') %>
  <%- include ('./sections/_featured-cities.ejs') %>




</div>
<%- include ('./partials/_footer.ejs') %>