<%- include ('./../partials/_header.ejs') %>

<div class="main-container bg--dark">
  <section class="feature-large   bg--dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-5">
          <h4>The Surface of Creativity</h4>
          <h2><b>Add a Sub Category</b></h2>
          <p class="lead">
            This Sub Categories will appear on the navbar and on the options when creating an event
          </p>
          <form action="/admin/sub-category/create/<%= category?category._id : '' %>" method="POST">
            <div class="row">

              <div class=" col-md-12 form-group">
                <h5>Select the Categories this Sub Category is part of</h5>
                <% eventCategories.forEach(function(item){ %>
                <div class="input-radio input-radio--innerlabel">
                  <input id="radio-<%= item._id %>"
                  <%= category ? (category.eventCategories.includes(item._id) ? 'checked' : '') : '' %>
                  type="checkbox" name="eventCategories[]" value="<%= item._id %>" />
                  <label for="radio-<%= item._id %>"><%= item.name %></label>
                </div>
                <% } )%>
              </div>
              <div class=" col-md-12 form-group">
                <select class="" name="showOnNavbar" id="showOnNavbar">
                  <option value="false">- Show on Navbar? -</option>
                  <option value="true" <%= category ? (category.showOnNavbar == true ? 'selected' : '') : '' %>>Show on Navbar
                  </option>
                  <option value="false" <%= category ? (category.showOnNavbar == false ? 'selected' : '') : '' %>>Don`t show on Navbar
                  </option>
                </select>
              </div>
              <div class="col-md-12">
                <input type="text" name="name" value="<%= category?category.name : '' %>" placeholder="Category Name" />
                <input type="hidden" name="originalName" value="<%= category?category.name : '' %>" />
              </div>

              <!-- <div class="col-md-12">
                <input type="file" name="icon" id="icon">
              </div> -->


              <div class="col-md-12">
                <button class="btn btn--primary type--uppercase" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


</div>
<%- include ('./../partials/_footer.ejs') %>