<%- include ('./../partials/_header.ejs') %>

<div class="main-container bg--dark">
  <section class="feature-large   bg--dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-5">
          <h4>The Surface of Creativity</h4>
          <h2><b>Add A Live Stream Event</b></h2>
          <p class="lead">
            Hosting a live stream event? <br />Know a great live stream
            event? <br />List it here. Together we can built an epic list!
          </p>
          <form action="/event/create/<%= event?event._id : '' %>" method="POST">
            <div class="row">
              <% if(event){ %>
              <div class=" col-md-12 form-group">
                <select class="" name="status" id="status">
                  <option>Event Status</option>
                  <option <%= event ? (event.status == 'Review' ? 'selected' : '') : '' %>>Review</option>
                  <option <%= event ? (event.status == 'Live' ? 'selected' : '') : '' %>>Live</option>
                </select>
              </div>
              <% } %>
              <div class="col-md-12">
                <input type="text" name="title" required value="<%= event?event.title : '' %>" placeholder="Event Name" />
              </div>
              <div class="col-md-12">
                <input type="text" name="link" required value="<%= event?event.link : '' %>" placeholder="Event Link" />
              </div>
              <div class=" col-md-12 form-group">
                <select class="" required name="category_id" id="category_id">
                  <option value="">- select a category - </option>
                  <% categories.forEach(function(item){ %>
                  <option data-id="<%= item._id %>"
                    <%= event ? (event.category_id == item.name ? 'selected' : '') : '' %>>
                    <%= item.name %>
                  </option>
                  <% } )%>
                </select>
              </div>
              <div class=" col-md-12 form-group">
                <select class=" " name="subcategory_id" id="subcategory_id">
                  <option value="">- select a sub category - </option>
                  <% subCategories.forEach(function(item){ %>
                  <option data-categories="<%= item.eventCategories.join(', ') %>"
                    <%= event ? (event.subcategory_id == item.name ? 'selected' : '') : '' %>>
                    <%= item.name %>
                  </option>
                  <% } )%>
                </select>
              </div>
              <div class="col-md-12 form-group">
                <textarea class="" name="description" value="" id="description" rows="6"
                  placeholder="Event Description"><%= event?event.description : '' %></textarea>
              </div>
              <div class="col-md-12">
                <input type="text" name="location" value="<%= event?event.location : '' %>" placeholder="Location" />
              </div>
              <div class="col-md-12">
                <label for="date">Date</label>
                <input type="date" name="date" value="<%= event? moment(event.date).format('YYYY-MM-DD') : '' %>"
                  placeholder="Date" />
              </div>
              <div class="col-md-12">
                <label for="time">Time</label>
                <input type="time" name="time" value="<%= event?event.time : '' %>" placeholder="Time" />
              </div>
              <div class="col-md-12">
                <input type="long-text" name="host_name" value="<%= event?event.host_name : '' %>"
                  placeholder="Host Name" />
              </div>
              <div class="col-md-12 form-group">
                <textarea class="" name="host_description" id="exampleFormControlTextarea1" rows="6"
                  placeholder="Host Description"><%= event?event.host_description : '' %></textarea>
              </div>

              <div class="col-md-12">
                <button class="btn btn--primary type--uppercase" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


</div>
<script>
  $(function () {
    $('#category_id').change(function () {
      var id = $(this).children("option:selected").data('id');
      $('#subcategory_id').val('');
      $('#subcategory_id').find('option').each((i, element) => {
        var cats = $(element).data('categories');
        if (cats) {
          if (cats.indexOf(id) > -1) {
            $(element).show();
          } else {
            $(element).hide();
          }
        }
      });

    })
  });

</script>
<%- include ('./../partials/_footer.ejs') %>