<%- include ('./../partials/_header.ejs') %>

<div class="main-container bg--dark">
  <section class="feature-large switchable bg--dark pt-0">
    <div class="container">
      <h4>The Surface of Creativity</h4>
      <ol class="breadcrumbs">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/event/category/<%= event.category_id %>"><%= event.category_id %></a>
        </li>
      </ol>
      <hr />

      <div class="row justify-content-around">
        <div class="col-lg-6 col-md-6">
          <!-- <img alt="Image" class="border--round box-shadow-wide" src="<%= event.image %>" /> -->

          <div><%= event.description %></div>
          <hr>

          <small>Host</small>
          <h4><%= event.host_name %></h4>
          <div><%= event.host_description %></div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="col-md-12">
            <h1><Strong><%= event.title %></Strong></h1>
            <a href="/event/category/<%= event.category_id %>"
              class="badge badge-danger p-2"><%= event.category_id %></a>
            <a href="/event/category/<%= event.subcategory_id %>"
              class="badge badge-info p-2"><%= event.subcategory_id %></a>
          </div>

          <div class="heading-block">
            <h2><%= event.location %></h2>
            <h3><%= moment(event.date).format('ll') + ' - ' +  moment(event.time,'HH:mm').format('hh:mm a') %></h3>
            <a class="btn btn--primary type--uppercase" target="_blank"
              href="<%= event.link.indexOf('http') > -1 ? event.link : `http://${event.link}` %>">
              <span class="btn__text">
                Watch Live Stream
              </span>
            </a>

          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>


  <% if(!user){ %>
  <%- include ('./../sections/_create-account.ejs') %>
  <% } %>
  <%- include ('./../sections/_category-blocks.ejs') %>
  <%# include ('./../sections/_staff-picks.ejs') %>
  <%# include ('./../sections/_featured-cities.ejs') %>

</div>
<%- include ('./../partials/_footer.ejs') %>