<%- include ('./../partials/_header.ejs') %>

<div class="main-container bg--dark">
  <section class="feature-large switchable bg--dark pt-0">
    <div class="container">
      <h4>The Surface of Creativity</h4>
      <ol class="breadcrumbs">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Music</a>
        </li>
      </ol>
      <% if(events.length) {%>
      <% if(!user){ events = events.slice(0,1) }%>
      <% events.forEach(function(event){ %>
      <hr />

      <div class="row justify-content-around">
        <% if(event.image) {%>
        <div class="col-lg-6 col-md-6">
          <img alt="Image" class="border--round box-shadow-wide" src="<%= event.image %>" />
        </div>
        <% } %>
        <div class="<%= event.image?'col-lg-5 col-md-6':'col-lg-12' %>">
          <div class="col-md-12">
            <a href="/event/<%=   `${event.key}` %>">
              <h1><Strong><%= event.title %></Strong></h1>
            </a>

          </div>

          <div class="heading-block">
            <h2><%= event.location %></h2>
            <h3><%= moment(event.date).format('ll') + ' - ' +  moment(event.time,'HH:mm').format('hh:mm a') %></h3>
            <a href="/event/category/<%= event.category_id %>"
              class="badge badge-danger p-2"><%= event.category_id %></a>
            <a href="/event/category/<%= event.subcategory_id %>" x
              class="badge badge-info p-2"><%= event.subcategory_id %></a>
            <div class="pt-5">

              <a class="btn btn--primary type--uppercase" target="_blank"
                href="<%= event.link.indexOf('http') > -1 ? event.link : `http://${event.link}` %>">
                <span class="btn__text">
                  Watch Live Stream
                </span>
              </a>
              <a class="btn btn-outline-secondary type--uppercase" href="/event/<%=   `${event.key}` %>">
                <span class="btn__text">
                  Details
                </span>
              </a>
            </div>
          </div>
          <div class="text-block">
            <p></p>
          </div>
        </div>
      </div>
      <!--end of row-->

      <% }) %>
      <% }else{ %>
      <div class="row justify-content-around">
        <div class="row">
          <div class="col-md-12">
            <h2>Nothing to stream on</h5>
              <h1><span class=" typed-text typed-text--cursor color--primary"><%= search %></span></h1>
              <p class="lead">
                Hosting a live stream event? <br />Know a great live stream
                event? <br />List it here. Together we can built an epic list!
              </p>
              <a class="btn btn--primary type--uppercase" href="/event/create">
                <span class="btn__text">
                  List your live stream
                </span>
              </a>

          </div>
        </div>

      </div>
      <% } %>
    </div>

    <% if(!user){ %>
    <%- include ('./../sections/_create-account.ejs') %>
    <% } %>
</div>
<!--end of container-->
</section>



<%- include ('./../sections/_category-blocks.ejs') %>
<%# include ('./../sections/_staff-picks.ejs') %>
<%# include ('./../sections/_featured-cities.ejs') %>




</div>
<%- include ('./../partials/_footer.ejs') %>